body {
    justify-content: center;
}

.container {
    padding-top: 32px;
}

#personalDetails {
    display: flex;
    justify-content: center;
    width: 700px;
    background-color: blanchedalmond;
    margin: auto;
    border-radius: 100px;
    padding-left: 20px;
}

.card {
    width: 700px;
    height: 800px;
}

#mainDetails {
    width: 350px;
    height: 600px;
    position: relative;
    display: flex;
    justify-content: center;
    padding-top: 30px;
}

#moreDetails {
    width: 350px;
    height: 600px;
    justify-content: center;
    align-items: center;
    padding-left: 40px;
    padding-top: 30px;
}

h2 {
    position: absolute;
    top: 140px;
}

#mainDetails img {
    border-radius: 300px;
    width: 120px;
    height: 120px;
    position: absolute;
    top: 250px;
}

#moreDetails {
    position: relative;
    top: 80px;
}

#moreDetails #artists {
    width: 350px;
    height: 200px;
}

#moreDetails #tracks {
    width: 350px;
    height: 300px;
}

#moreDetails>#tracks>h6 {
    display: block;
}

#ulArtists {
    position: absolute;
}

#matchScore {
    position: absolute;
    bottom: 120px;
    font-weight: bold;
}

#scoreTitle {
    position: absolute;
    bottom: 150px;
}